.sidebar{
    width: 20%;
    min-height: 100vh;
    border: 2px solid #a9a9a9;
    border-top: 0;
    background-color: #f1f1f1;
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20%;
    gap: 20px;
  
}

.sidebarbtn{
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #faf9f6;
    gap: 15px;
    border: 1.5px solid #a9a9a9;
    border-right: 0;
    border-radius: 15px 0px 0px 0px;
    padding: 12px 25px;
    cursor: pointer;
}

.sidebarbtn img{
    width: 25px;
    height: 25px;
}

.sidebarbtn:hover{
    margin-right: 5px; 
    border: 2px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    box-shadow: 0px 1px 4px #a5a5a5;
    transform: scaleX(1.05);
    cursor: pointer;
}

.sidebarbtn.active{
    transform: scaleX(1.05);
    margin-right: 5px; 
    background-color: #fff0ed;
    border: 2px solid tomato;
    border-right: 1px solid #a9a9a9;
 
}
@media (max-width: 800px) {

    .sidebarbtn p{
        display: none;
    }

    .sidebarbtn.active{
        margin-right: 0px;
    }
}